

@{
    ViewBag.Title = "Home Page";
}
@model TaskList.Models.Project



<div class="col-lg-8">
    <div class="col-lg-offset-4">
    <h1>Календарь</h1>
    <h2 id="info"></h2>
</div>
    <table class="table  table-striped ">
        <thead>
            <tr>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>
            </tr>
        </thead>
        <tbody>
            <tr id="str1"></tr>

            <tr id="str2"></tr>

            <tr id="str3"></tr>

            <tr id="str4"></tr>

            <tr id="str5"></tr>

            <tr id="str6"></tr>
        </tbody>
    </table>

   
   
        <button type="button" style="background-color:white; border:none" class="CalendarChoice col-md-1"><img src="\Images/prev_icon.png"></button>


        <button type="button" style="background-color:white; border:none" class="CalendarChoice col-md-offset-5" id="NextBtn"><img src="\Images/next_icon.png"></button>
        
</div>



<script src="~/Scripts/Actions.js"></script>
