
@{
    ViewBag.Title = "Profile";
}

    <div class="col-md-2">
        <img src="/Images/avatar.jpg" class="rounded-circle" style="width:200px" alt="Cinque Terre">
        <button type="button" class="btn btn-success btn-lg">Сообщение</button>
        <button type="button" class="btn btn-success btn-lg">Добавить</button>
    </div>
    <div class="col-md-offset-1">
        <p style="background-color:whitesmoke; height:250px ; width:510px">12121</p>
    </div>

<script src="~/Scripts/ProfileJs.js"></script>
