
@{
    ViewBag.Title = "Profile";
}
<div class="row">
<div class="col-lg-4">

<img src="/Images/avatar.jpg" class="rounded-circle" style="width:200px" alt="Cinque Terre">
    </div>

    </div>
<script src="~/Scripts/ProfileJs.js"></script>
