
@{
    ViewBag.Title = "Projects";
}

<div class="col-xs-8">
    <div class="row">
        <div clas="col-xs-7" style="background-color:whitesmoke; width: 85%;">
            <h3>Имя проекта</h3>
            <hr>
            <h4>Описание</h4>
            <h4>Кооперация</h4>

        </div>

        <div class="col-xs-1">
            <div class="btn-group-vertical">

                <button type="button" style="height:48px" class="btn btn-secondary">Изменить</button>
                <button type="button" style="height:48px" class="btn btn-secondary">Удалить</button>
                <button type="button" style="height:48px" class="btn btn-secondary">Свойства</button>
            </div>
        </div>
    </div>
  
   
    <div class="row">
        <div clas="col-xs-7" style="background-color:whitesmoke; width: 85%;">
            <h3>Имя проекта</h3>
            <hr>
            <h4>Описание</h4>
            <h4>Кооперация</h4>

        </div>

        <div class="col-xs-1">
            <div class="btn-group-vertical">

                <button type="button" style="height:48px" class="btn btn-secondary">Изменить</button>
                <button type="button" style="height:48px" class="btn btn-secondary">Удалить</button>
                <button type="button" style="height:48px" class="btn btn-secondary">Свойства</button>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div clas="col-xs-7" style="background-color:whitesmoke; width: 85%;">
            <h3>Имя проекта</h3>
            <hr>
            <h4>Описание</h4>
            <h4>Кооперация</h4>

        </div>

        <div class="col-xs-1">
            <div class="btn-group-vertical">

                <button type="button" style="height:48px" class="btn btn-secondary">Изменить</button>
                <button type="button" style="height:48px" class="btn btn-secondary">Удалить</button>
                <button type="button" style="height:48px" class="btn btn-secondary">Свойства</button>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-secondary btn-lg col-xs-offset-4" id="CreateProjects">Создать проект</button>
</div>


    <script src="~/Scripts/Projects.js"></script>
